body {
  margin-top: 130px;
  font-family: 'Prompt', sans-serif;
}

.regis-block {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  text-indent: middle;
  margin-top: 35px;
  margin-bottom: 50px;
}

.regis-btn {
  margin-top:10px;
  color: #efefef;
  padding: 5px;
  border-radius: 5px;
  background-color: #DFA001;
}

.regis-btn:hover {
  color:#efefef;
  background-color: #d19200;
  cursor: pointer;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
  body {
    margin-top: 70px;
  }
}