body {
  margin-top: 100px;
  font-family: 'Prompt', sans-serif;
}

.order-block {
  background-color: #fff;
  border-radius: 10px;
}

.order-block:hover {
  background-color: #DFA001;
  color: #fff;
  cursor: pointer;
}