.user-navbar {
    background-color: #351918;
    font-family: 'Prompt', sans-serif;
    color: #fff !important;
    padding-bottom: 10px;
}

.logo-img {
    width: 100%;
}

.toggle-btn {
    border-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
}

.toggle-btn:hover {
    border-color: #fff;
    background-color: #DFA001 !important;
}

.toggle {
    background-color: #fff !important;
}

.menu-button {
    display: block;
    margin: 0px 3.9em 0px 3.9em;
    font-size: 1.5em;
}

.menu-link {
    color: #fff !important;
}

.menu-link:hover {
    color: #DFA001 !important;
    background-color: transparent !important;
}

.authen-group {
    text-align: right;
    margin-top: 15px;
}

.authen-btn {
    color: #DFA001;
    cursor: pointer;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    .logo-img {
        width: 100%;
    }
}   
